<div class="container">
  <div class="row">
    <h2 class="text-center mt-4"><%= @user.username %>'s Profile</h2>
    <div class="col-8">
        <div id="page-content">
            
            <div class="container">
                <div class="row justify-content-md-center">
                <div class="col-9 mt-4">
                    <div class="card text-center shadow mb-5 bg-white rounded">
                    <div class="card-header font-italic">
                        Alpha Blog
                    </div>
                    <div class="card-body">
                        <div class="card-text text-center"><%= simple_format(@user.email) %></div>
                        <%= link_to "Edit Profile", edit_user_path(@user), class: "btn btn-outline-info" %>
                    <div class="card-footer text-muted">
                        <small>Account Created <%= time_ago_in_words(@user.created_at) %> ago, 
                        edited <%= time_ago_in_words(@user.updated_at) %> ago</small>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </div>  
        </div>
    </div>
    <div class="col-3 text-center ">
        <%=gravatar_for @user , size:200%>
    </div>
  </div>
</div>

<div class="container">
    <h3 class="text-center">Your Articles</h3>
    <% @user.articles.each do |article| %>
        <div class="row justify-content-md-center ">
            <div class="col-8 mt-4">
                <div class="card text-center shadow mb-5 bg-white rounded">
                    <div class="card-header font-italic">
                        by <%= article.user.username %>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"> <%= link_to article.title, article_path(article), {:class=>"text-success"} %></h5>
                        <p class="card-text"> <%= truncate(article.description, length: 50)%></p>
                        <%= link_to 'Show', article_path(article), {:class=>"btn btn-outline-success"} %>
                        <%= link_to 'Edit', edit_article_path(article), {:class=>"btn btn-outline-info"}%>
                        <%= button_to 'Delete', article_path(article), {method: :delete , :class=>"btn btn-outline-danger"}%>
                    </div> 
                    <div class="card-footer text-muted">
                        <small> Created <%=time_ago_in_words(article.created_at)%> ago, Edited <%=time_ago_in_words(article.updated_at)%> </small>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</div>

<style>
   body {background-color: lightgrey} 
</style>